<footer class="mt-6 py-6 bg-blue sm:flex justify-around align-center text-center">
  <div>© photoground 2024</div>
  <div>developed and maintained by <a href="https://www.linkedin.com/in/ilaom-mcmaster/">michaelilao</a></div>
</footer>
