<% locals.photos && photos.length > 0 ? photos.forEach(function(photo, i){ %>
    <div class="p-1 self-start bg-[<%= photo.hex%>] gallery-item" id="<%= photo.photoId %>">
      <img class="sm:max-w-80 sm:max-h-80 sm:min-w-52 sm:min-h-52" loading="<%= i < 10 ? "eager" :" lazy" %>" src="/api/v1/photos/<%= photo.photoId %>">
    </div>
<% }) : null; %>