<head>
  <title>photoground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            teal: '#388087',
            blue: '#badfe7',
            mint: '#c2edce',
            smoke: '#f6f6f2',
            red:  '#ff6961'
          },
        },
      },
    };
  </script>
</head>
