<head>
  <title>photoground</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="Photo Storage" />
  <meta name="author" content="Michael Ilao" />
  <meta
    name="description"
    content="photoground gives you the tools to host and deploy your own photo storage solution, our open-source backend allows you to extend and modify our tool to your needs."
  />
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="generated.css" />
  <link rel="preload" as="image" href="icons/chevron-down.svg" />
  <link rel="preload" as="image" href="icons/chevron-up.svg" />
  <link rel="preload" as="image" href="icons/close.svg" />
  <link rel="preload" as="image" href="icons/eye-closed.svg" />
  <link rel="preload" as="image" href="icons/eye-open.svg" />
  <link rel="preload" as="image" href="icons/rotate-left.svg" />
  <link rel="preload" as="image" href="icons/rotate-right.svg" />
  <link rel="preload" as="image" href="icons/trash.svg" />
  <link rel="preload" as="image" href="icons/upload.svg" />
</head>
