<nav class="flex justify-around items-center py-4">
  <a href="/" class="hover:no-underline">
    <h1 class="flex text-2xl">
      <img class="mr-1" src="icons/logo.svg" width="32" height="32" />
      <span>photoground</span>
    </h1>
  </a>

  <a class="text-teal hover:underline" href="/login">login</a>
</nav>
