<div id="toast" class="fixed bottom-[15%] -translate-x-2/4 left-1/2 opacity-0 ease-linear ease-linear duration-100">
  <div id="toast-text" class="p-6 text-center m-auto min-w-56 min-h-20 max-w-80">Toast</div>
</div>
