.hero {
  text-align: center;
  div {
    margin: auto;
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    div {
      width: 80%;
    }
  }
}

.carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  margin: 16px;
  height: 200px;
  min-width: 200px;
  border: #388087;
  border-width: 2px;
  border-style: dashed;
}
