<!doctype html>
<html>
  <%- include('../partials/head'); %>
  <body>
    <header><%- include('../partials/nav'); %></header>
    <main>
      <section id="login">
        <div class="m-auto">
          <div class="title">
            <h1 class="my-auto">login</h1>
            <h5 class="my-auto">your photos, off the cloud</h5>
          </div>
          <form>
            <label for="fname">First name:</label><br />
            <input type="text" id="fname" name="fname" /><br />
            <label for="lname">Last name:</label><br />
            <input type="text" id="lname" name="lname" />
          </form>
        </div>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
