<!doctype html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="min-w-96">
    <header><%- include('../partials/nav'); %></header>
    <main>
      <section class="text-center m-auto w-11/12 md:w-1/2 md:pt-16">
        <div>
          <h2 class="text-2xl py-2 font-bold">your photos all the time, however you want.</h2>
          <p class="">photoground gives you the tools to host and deploy your own photo storage solution, our open-source backend allows you to extend and modify our tool to your needs.</p>
          <div class="py-4">
            <button class="btn btn-primary">get started</button>
            <button class="btn btn-secondary">view code</button>
          </div>
        </div>
      </section>
      <section>
        <div class="flex justify-center flex-wrap">
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
        </div>
        <div class="flex justify-center flex-wrap">
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
          <div class="m-8 h-52 w-52 border-2 border-dashed border-teal"></div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
