<!doctype html>
<html>
  <head>
    <title>photoground</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="root.css" />
  </head>
  <body>
    <header><%- include('../partials/nav'); %></header>
    <main>
      <section class="hero">
        <div>
          <h2>your photos all the time, off the cloud.</h2>
          <p class>photoground gives you the tools to host and deploy your own photo storage solution, our open-source backend allows you to extend and modify our tool to your needs.</p>
          <div class="w-100">
            <button class="primary">get started</button>
            <button class="secondary">view code</button>
          </div>
        </div>
      </section>
      <section class="hero">
        <div>
          <h3>Best</h3>
        </div>
      </section>
      <section>
        <div class="carousel w-80 mx-auto">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
        </div>
        <div class="carousel w-80 mx-auto">
          <div class="square"></div>
          <div class="square"></div>
          <div class="square"></div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
