<!doctype html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="min-w-96">
    <header><%- include('../partials/nav'); %></header>
    <main>
      <section class="text-center m-auto w-11/12 md:w-1/2 md:pt-16">
        <h2 class="text-2xl py-2 font-bold">upload photos</h2>
        <div id="drop-area" class="border-2 border-dashed border-teal py-16 px-4 sm:px-12 mt-4">
          <form id="photo-upload" onsubmit="return false" action="">
            <img class="mx-auto py-4" src="icons/upload.svg" width="48" height="48" />
            <h3>drag and drop image</h3>
            <div>or</div>
            <div>
              <label class="btn btn-primary block w-64 mx-auto my-2 relative" for="upload-input">browse</label>
              <input class="hidden" type="file" id="upload-input" multiple accept="image/*" />
            </div>
            <button class="btn btn-primary hidden w-64 mx-auto my-2" id="submit-button">submit</button>
            <div class="text-sm italic">upload up to 10MB</div>
            <div id="gallery" class="flex flex-wrap pt-8"></div>
          </form>
          <div id="loading" class="m-auto py-16 px-4 hidden">
            <img src="icons/loading.svg" class="animate-spin m-auto" width="48" height="48" />
          </div>
        </div>
      </section>

      <%- include('../partials/toast'); %>
    </main>
    <%- include('../partials/footer'); %>
  </body>
  <script defer type="module" src="js/upload.js"></script>
</html>
